<h1>SignUp#welcome</h1>
<p>Find me in app/views/sign_up/welcome.html.erb</p>


Notes:
Call avatar.attach to attach an avatar to an existing user:

@user.avatar.attach(params[:avatar])
Call avatar.attached? to determine whether a particular user has an avatar:

@user.avatar.attached?

Call images.attach to add new images to an existing message:

@message.images.attach(params[:images])
Call images.attached? to determine whether a particular message has any images:

@message.images.attached?

8 Previewing Files
Some non-image files can be previewed: that is, they can be presented as images. For example, a video file can be previewed by extracting its first frame. Out of the box, Active Storage supports previewing videos and PDF documents.

<ul>
  <% @message.files.each do |file| %>
    <li>
      <%= image_tag file.preview(resize_to_limit: [100, 100]) %>
    </li>
  <% end %>
</ul>